
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - Technology for your life</title>

    <link href="~/lib/Website/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="~/lib/Website/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/lib/Website/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/lib/Website/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/lib/Website/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Website/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="~/lib/fotorama/fotorama.min.css" rel="stylesheet" />

    @RenderSection("CSS", required: false)

</head>
<body>
    <partial name="_Header1" />
    <partial name="_Header2" />

    @RenderBody()
    @await Component.InvokeAsync("Footer")

    <!-- custom javascript -->
    <script src="~/lib/Website/js/script.js" type="text/javascript"></script>
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/fotorama/fotorama.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
