@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{ Layout = "_Layout"; }

@{ ViewData["Title"] = "Log in"; }

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

    <div class="card mx-auto" style="max-width: 380px; margin-top:35px;">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>

                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Username" type="text" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div> <!-- form-group// -->

                <div class="form-group">

                    <a asp-action="ForgotPassword" class="float-right">Forgot password?</a>
                    <label class="float-left custom-control custom-checkbox">
                        <input type="checkbox" asp-for="RememberMe" class="custom-control-input">
                        <div class="custom-control-label"> Remember </div>
                    </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
            </div> <!-- card-body.// -->
        </form>
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have account? <a href="#">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}