@model List<Banner>
@{
    ViewData["Title"] = "Banner section";
}

<h1 class="h3 mb-2 text-gray-800">Banner</h1>

<a class="btn btn-success float-md-right my-lg-2" href="/admin/banner/create">  <i class="fa fa-plus"></i> Create</a>

<table class="table table-bordered table-striped table-light table-hover">
    <thead class="thead-dark">
        <tr class="center-x">
            <th>Image</th>
            <th>Type</th>
            <th>Title</th>
            <th>Link</th>
            <th>Show</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td><b><img height="50" src="~/Image/Sliders/@item.ImagePath" /></b></td>
                <td>
                    @if (item.Type == (int)Enums.BannerType.Slider)
                    {

                        <text>Slider</text>
                    }
                    else
                    {
                        <text>Banner</text>
                    }
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.LinkTo
                </td>
                <td>
                    @if (item.IsShow == true)
                    {
                        <i class="fa fa-check"></i>
                    }
                </td>

                <td>
                    <a class="btn btn-info" href="/admin/banner/create?id=@item.ID"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger del-banner" data-id="@item.ID"><i class="fa fa-recycle"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.del-banner').click(function () {
                var deleteBtn = $(this);
                var id = $(this).data('id');
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this banner!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: '/admin/banner/delete',
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                dataType: 'json',
                                success: function (response) {
                                    if (response.status == true) {
                                        debugger;
                                        $(deleteBtn).parents("tr").remove();

                                        swal("The banner has been deleted!", {
                                            icon: "success",
                                        });
                                    }
                                    else {
                                        swal(response.message, {
                                            icon: "error",
                                        });

                                    }
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    });
            });

        });

    </script>
    @if (TempData["StatusMessage"] != null)
    {
        if (TempData["StatusMessage"].ToString() == "Successfully created")
        {
            <script>
                toastr.success('Successfully created');
            </script>
        }
        else if (TempData["StatusMessage"].ToString() == "Successfully updated")
        {
            <script>
                toastr.success('Successfully updated');
            </script>

        }
    }
}
