
@{
    ViewData["Title"] = "Index";
}

@model  CategoryModelView

<section class="section-name padding-y-sm">
    <div class="container">
        
             <div class="row">
                <div class="col-md-12">
                    <h1>
                        @if (Model.CategoryInfo != null)
                        {
                            <text>@Model.CategoryInfo.CategoryName</text>
                        }
                        else
                        {
                            <text>All Products</text>
                        }
                    </h1>

                    <p>
                        @if (Model.CategoryInfo != null)
                        {
                            @Html.Raw(Model.CategoryInfo.Description)
                        }
                    </p>
                </div>
            </div>


            <div class="row">

                @foreach (var item in Model.DataList)
                {
                    @Html.Partial("_ProductItem",item)
                    
                }


            </div>


        </div><!-- container // -->
</section>

 