
@{
    ViewData["Title"] = "Order complete";
}


<div class="container text-center" style="height: 500px; margin: 0 auto;">
    <h1 class="pt-3">Order Complete</h1>
    <h3>Thank you for your order, we will process and delivery your shipment soon.</h3>
    <img src="~/Image/thankyou.jpg" />
</div>

