&nbsp;<br>Order detail Information :
<br><br>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">
    Order ID&nbsp; : {1} <small>(Created on {2})</small></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Full name&nbsp; : {0} <br></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Address : {3} </h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Phone number&nbsp; : {4} <br></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Detail&nbsp; :</h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {5} </h2>